* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  
}

img {
  display: block;
  max-width: 100%;
}

p, ul { 
  position: absolute;
  top: 1vw;
  left: 1vw;
}

button { 
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  font-size: 2em;
  border: 1px solid grey; 
  border-radius: 2px;
}
button:hover, 
button:active,
button:focus{ 
  background-color: blueviolet;
}

input { 
  padding: 15px;
}
.timer { 
  width: 100vw;
  justify-content: center;
  gap: 30px;
  display: flex;
}

.field { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.value { 
  font-size: large;
  font-weight: 700;
}

form { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

form label { 
  width: calc((100% - 60px) / 3);
}